.container-banner {
  width: 900px;
  margin: 0 auto;
  text-align: center;
  text-align: left;
  padding-left: 100px;
}
.container{
  width: 770px;
  margin: 50px auto;
  text-align: center;
  align-items: center;
}

@media (max-width: 960px) {
  /* Para una pantalla < 960px, se leerá este CSS */
  .container .container-banner {
    width: 900px;
  }
}

@media (max-width: 720px) {
  /* Para una pantalla < 720px, se leerá este CSS */
  .container .container-banner {
    width: 700px;
  }
}

@media (max-width: 540px) {
  /* Para una pantalla < 540px, se leerá este CSS */
  .container .container-banner {
    width: 500px;
  }
}
